In [2]:
# Import the pathlib and csv library
import pandas as pd

In [3]:
# Set dataframe variable
budget_df = pd.read_csv('budget_data.csv')
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
# Check for nulls
null_counts = budget_df.isnull().sum()
print(null_counts)

Date             0
Profit/Losses    0
dtype: int64

In [5]:
# Count the total number of months included in the dataset 
number_of_months = 0
number_of_months =len(budget_df)
print(f"Total Months: {number_of_months}")

Total Months: 86

In [6]:
# Find the net total amount of Profit/Losses over the entire period
net_total_pl = 0
net_total_pl = budget_df['Profit/Losses'].sum()
print(f"Total: ${net_total_pl}")

Total: $38382578

In [7]:
# Create a new column to store change
budget_df['Shifted'] = budget_df['Profit/Losses'].shift(1)
budget_df['Difference'] = budget_df['Profit/Losses'] - budget_df['Shifted']
print(budget_df)

        Date  Profit/Losses   Shifted  Difference
0   Jan-2010         867884       NaN         NaN
1   Feb-2010         984655  867884.0    116771.0
2   Mar-2010         322013  984655.0   -662642.0
3   Apr-2010         -69417  322013.0   -391430.0
4   May-2010         310503  -69417.0    379920.0
..       ...            ...       ...         ...
81  Oct-2016         102685  768450.0   -665765.0
82  Nov-2016         795914  102685.0    693229.0
83  Dec-2016          60988  795914.0   -734926.0
84  Jan-2017         138230   60988.0     77242.0
85  Feb-2017         671099  138230.0    532869.0

[86 rows x 4 columns]

In [8]:
# Find the average changes in Profit/Losses over the entire period 
average_change_pl = 0
average_change_pl = budget_df['Difference'].mean()
print(f"Average Change: ${average_change_pl}")

Average Change: $-2315.1176470588234

In [9]:
# Locate the greatest increase in profits, date and amount, over the entire period
max_amount = 0
max_date = 0

max_amount = budget_df['Difference'].max()
print(max_amount)

max_index = budget_df['Difference'].idxmax()
print(max_index)

max_date = budget_df['Date'].iloc[max_index]
print(max_date)

print(f"Greatest Increase in Profits: {max_date} (${round(max_amount)})")

1926159.0
25
Feb-2012
Greatest Increase in Profits: Feb-2012 ($1926159)

In [10]:
# Locate the greatest decrease in profits, date and amount, over the entire period
min_amount = 0
min_date = 0

min_amount = budget_df['Difference'].min()
print(min_amount)

min_index = budget_df['Difference'].idxmin()
print(min_index)

min_date = budget_df['Date'].iloc[min_index]
print(min_date)

print(f"Greatest Decrease in Profits: {min_date} (${round(min_amount)})")

-2196167.0
44
Sep-2013
Greatest Decrease in Profits: Sep-2013 ($-2196167)

In [11]:
# Generate a print statement to summarize the financial analysis

print("Financial Analysis")
print("-------------------------------")
print(f"Total Months: {number_of_months}")
print(f"Total: ${net_total_pl}")
print(f"Average Change: ${round(average_change_pl, 2)}")
print(f"Greatest Increase in Profits: {max_date} (${round(max_amount)})")
print(f"Greatest Decrease in Profits: {min_date} (${round(min_amount)})")

Financial Analysis
-------------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)